.list {
  width: 70rem;
  min-height: 50vh;
}

.list-head {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0.5rem;
  > a {
    text-decoration: none;
  }
}

.ib {
  display: inline-block;
}

.btn {
  width: 40px;
  height: 40px;
}

.op-btn-wrap {
  width: 10rem;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  // background: teal;
}

.loading {
  width: 100%;
  display: grid;
  place-items: center;
  min-height: 50vh;
}

.shine {
  // color: azure;
  animation: shining 2s infinite linear reverse;
}

@keyframes shining {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
