a {
  text-decoration: none;
}
.add-met-form {
  width: 100%;
  padding: 5rem;
  display: grid;
  grid-template-columns: 100px 1fr;
  place-items: center;
  gap: 14px;
}

.logo-ipt {
  display: flex;
  gap: 10px;
  justify-self: start;
  .logo-wrap {
    width: 100px;
    height: 100px;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .upload-btn {
    align-self: flex-end;
  }
}

.btns {
  grid-column: span 2;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.text-display {
  width: 100%;
  text-align: left;
}

.editor-wrap {
  width: 100%;
  min-height: 10rem;
}

.date-wrap {
  justify-self: start;
}

.txtIpt {
  width: 100%;
  position: relative;
  .alert {
    position: absolute;
    bottom: -2rem;
    right: 0;
  }
}

.form-title {
  font-weight: bold;
}

.op5 {
  opacity: 0.5;
}
